name: DSM_helper_Android_DEV

on:
  push:
    branches: [dev]

jobs:
  build_android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup Java to compile Android project
        uses: actions/setup-java@v1
        with:
          java-version: "17.x"

      - name: Install and set Flutter version
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.6"

      - name: Create the Keystore
        env:
          KEY_PROPERTIES: ${{ secrets.KEY_PROPERTIES }}
        run: |
          # import keystore from secrets
          ls -all
          echo $KEY_PROPERTIES | base64 -di > android/key.properties

      - name: Restore packages
        run: flutter pub get

      - name: Build Android Apk
        run: flutter build apk --release --flavor=beta

      - name: Upload PGYER File
        id: pgyer
        uses: xtayga/upload-pgyer-action@master
        with:
          url: https://www.pgyer.com/apiv2/app/upload
          forms: '{"_api_key":"${{ secrets.PGY_API_KEY }}","buildName":"群晖助手Beta"}'
          fileForms: '{"file":"build/app/outputs/flutter-apk/app-beta-release.apk"}'